body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 17px;
}
li a:hover {
  color: #BCD4E8;
}
a:focus, a:hover {
  color: #337ab7;
  text-decoration: inherit;
}
li {
  width: inherit;
/*  height: 76;*/
}
a {
  text-decoration: none;
  color: #000000;
}
.description {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}
a.description-2 {
  text-transform: uppercase;
  color: #fff !important;
  letter-spacing: 3px;
  margin-bottom: 20px;
  min-height: 0;
  margin-right: 0;
  font-size: 23px;
  line-height: 36px;
  font-weight: 800;
  text-align: center;
}
.navs {
  display: flex;
  width: auto;
  text-indent: inherit;
}
.navs1 {
  align-items: center;
}
.search {
  float: right;
}
.item1 {
  margin-right: 30px;
}
.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 3 !important;
  padding: 0 7% 0 7%;
}
.logo {
  margin-right: 49px;
}
.mg {
  padding-top: 101px;
  width: 100%
}
.project {
  width: 25%;
  position:
}
.last-news {
  width: 75%;
}
.col {
  width: 33.333%;
  padding: 15px 0px 30px 30px;
}

.bg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(35, 55, 68, 0.41);
    z-index: 1;
}
.posit:hover .bg{
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.posit {
  height: 370px;
  position: relative;
  overflow: hidden;
}
.posit p {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    z-index: 2 /*!important*/;
    position: absolute;
    width: 100%;
    max-width: 210px;
    padding: 0 10px;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 45%;
}
div, p {
  vertical-align: baseline;
}
.img-post:hover .small-bg{
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
.background {
   -moz-background-size: cover;
   background-size: cover;
   background-position: center center;

}
.posit .background {
    display: block;
    height: 100%;
    position: relative;
    -webkit-transition: 0.5s all ease-out;
   -o-transition: 0.5s all ease-out;
   -moz-transition: 0.5s all ease-out;
   -ms-transition: 0.5s all ease-out;
   transition: 0.5s all ease-out;
}
.pj {
  padding-bottom: 13px;
}
.pref {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
}
.posit .background:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*--------NewsBlock-----------*/

.news {
  width: 33.3333%;
  padding: 0 7.5px 0 7.5px;
}
.reaches {
  width: 66.6666%;
}
.post {
  padding: 15px;
  border-bottom: 1px #c2c2c2 solid;
}
.post:last-child {
  border: none;
}
.date {
  font-size: 15px;
  color: #111;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 7px;
}
.headers {
  margin: 0 0 35px 30px;
}
.headers-left {
  margin-left: o;
}

/*--------SliderBlock------*/

.carousel-inner {
  height: 530px;
  width: 100%;
  position: relative;
}
.item {
  margin-right: 0;
  height: 530px;
  align-items: center;
}
.carousel-caption {
  max-width: 470px;
  padding-bottom: 60px;
  align-items: center;
/*  margin: 80px 199px;*/
}

/*--------Films and books--*/

.films {
  margin-bottom: 35px;
}

/*--------Footer-----------*/

.nav-footer {
  justify-content: space-between;
}
.nav-i a{
  font-size: 11px;
  line-height: 35px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-right: 60px;
}
.legelise {
  width: 80%;
  text-align: center;
  margin-left: 90px;
  margin-top: 90px;
  font-size: 14px;
}
